body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #3030aa;
    padding: 5px;
    margin: 0 auto;
    color: #0052a3;
}

label {
    display: block;
    margin-bottom: 5px;
    font-style: italic;
}

input[type="text"] {
    width: 80%;
    border-radius: 10px;
    background-color: #505050;
    text-align: center;
    color: #b6dbff;
}

input:hover {
    background-color: #606060;
}

.weatherGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    gap: 5px;
}

.topBar {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
    font-weight: bold;
    border: none;
    align-items: center;
    border-radius: 200px;
    background-image: linear-gradient(to right, #8080ff, #6060ff, #8080ff);
}

.weatherBoyMoves {
    display: inline-block;
    white-space: nowrap;
    clip-path: inset(0 100% 0 0);
    animation: typing .7s steps(100, end) forwards;
}

#headerContainer {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#searchHistory,
#coordinateForm,
#weatherResults, #weeklyForecast {
    padding: 5px;
    border: 1px solid #6060ff;
    text-align: center;
    background-image: radial-gradient(circle at center, #8080ff, #6060ff);
    border-radius: 40px;
}

#searchHistory {
    grid-column: 1;
    grid-row: 2 / span 3;
}

#coordinateForm {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.formGroup {
    border: 2px solid #6060ff;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
}
#formContainer {
    margin: 10px;
    padding: 10px;
}
#submitButton {
    background-color: #505050;
    color: goldenrod;
}

#submitButton:hover {
    background-color: #606060;
}


#currentCityWeather {
    grid-column: 3;
    grid-row: 2;
    padding: 5px;
    border: 1px solid #6060ff;
    background-image: radial-gradient(circle at center, #8080ff, #6060ff);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

#howsIt {
    margin-left: 100px;
}

#usersCity {
    border: 3px dotted goldenrod;
    text-align: center;
    align-items: center;
    width: 400px;
    margin: auto;
    height: 60%;
background-color: #555591;
}
#weatherData {
}
#weeklyForecast {
    grid-column: 2 / span 3;
    grid-row: 3 / span 3
}

@keyframes typing {
    to {
        clip-path: inset(0 0 0 0);
    }
}
